
<!doctype html>

<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#4F7DC9">
  <meta charset="UTF-8">
  <title>Handling Form Submission with a Thymeleaf Template</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://storage.googleapis.com/codelab-elements/codelab-elements.css">
  <style>
    .success {
      color: #1e8e3e;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <google-codelab-analytics gaid="UA-49880327-14"></google-codelab-analytics>
  <google-codelab codelab-gaid=""
                  id="form-submission-with-templates"
                  title="Handling Form Submission with a Thymeleaf Template"
                  environment="web"
                  feedback-link="">
    
      <google-codelab-step label="Overview" duration="30">
        <h2 class="checklist" is-upgraded>What You&#39;ll Learn</h2>
<ul class="checklist">
<li>How Thymeleaf can play the captured errors</li>
<li>How to pass data into a template</li>
</ul>


      </google-codelab-step>
    
      <google-codelab-step label="Understand the goal" duration="0">
        <p>We want our forms to be intelligent and provide useful feedback.  We also want to be able to use them to handle updates so we need to pass data into them.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Move the HTML form to templates" duration="0">
        <p>The first thing we need to do is move the form into templates because we want to add Thymeleaf attributes and these will only be acted on if Spring Boot thinks this is a template.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Convert to Thymeleaf." duration="0">
        <p>There are a number of changes to go through.  The source code can be found on the <code>form-processing-with-thymeleaf</code> tag.</p>
<p>The HTML file body will end up looking like this:</p>
<pre><code>&lt;form action=&#34;#&#34; method=&#34;post&#34; th:action=&#34;@{/greeting-form}&#34; th:object=&#34;${greeting}&#34;&gt;
    &lt;label th:for=&#34;name&#34;&gt;Name:&lt;/label&gt;
    &lt;input th:field=&#34;*{name}&#34; type=&#34;text&#34;&gt;&lt;/input&gt;

    &lt;span th:errors=&#34;*{name}&#34; th:if=&#34;${#fields.hasErrors(&#39;name&#39;)}&#34;&gt;Name error&lt;/span&gt;

    &lt;br&gt;

    &lt;input th:field=&#34;*{type}&#34; th:value=&#34;formal&#34; type=&#34;radio&#34;&gt;
    &lt;label th:for=&#34;${#ids.prev(&#39;type&#39;)}&#34;&gt;Formal greeting?&lt;/label&gt;

    &lt;br&gt;

    &lt;input th:field=&#34;*{type}&#34; th:value=&#34;informal&#34; type=&#34;radio&#34;/&gt;
    &lt;label th:for=&#34;${#ids.prev(&#39;type&#39;)}&#34;&gt;Informal greeting?&lt;/label&gt;

    &lt;br&gt;

    &lt;input id=&#34;submit&#34; name=&#34;submit&#34; type=&#34;submit&#34; value=&#34;Submit&#34;/&gt;

&lt;/form&gt;
</code></pre>
<p>We&#39;ll go through these changes separately.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Change the form element" duration="0">
        <p>In the form element, we introduce the <code>th:action</code>  attribute and the <code>th:object</code> attribute.</p>
<pre><code>&lt;form action=&#34;#&#34; method=&#34;post&#34; th:action=&#34;@{/greeting-form}&#34; th:object=&#34;${greeting}&#34;&gt;
</code></pre>
<p>Let&#39;s examine those two attributes:</p>
<ul>
<li><code>th:action</code> overrides the <code>action</code> attribute and it uses the <a href="https://www.thymeleaf.org/doc/articles/standardurlsyntax.html" target="_blank">Thymeleaf link format</a>.</li>
<li><code>th:object</code> binds an object to the form.  We can then refer to the object&#39;s fields in the form.  Note: we have to pass a suitable object into the template.  For a &#34;create&#34; form ,this will typically be an empty object (i.e. created with the default constructor).  The value is the name of the object on the model with ‘${}&#39;.</li>
</ul>


      </google-codelab-step>
    
      <google-codelab-step label="Change the text element" duration="0">
        <p>The next step is to change the text element, making sure we refer to the name field of the form object.</p>
<pre><code>&lt;label th:for=&#34;name&#34;&gt;Name:&lt;/label&gt;
&lt;input th:field=&#34;*{name}&#34; type=&#34;text&#34;&gt;&lt;/input&gt;
</code></pre>
<p>In the input field, we now use a <code>th:field</code> attribute.  Note, that we prefix the field value with &#34;*&#34; rather than &#34;$&#34;.  This is because we want to refer to a field within the object.  This notation is basically saying &#34;map the field called ‘name&#39; within the object defined at the form level to this input element.&#34;</p>
<p>We also need to replace the <code>for</code> attribute with <code>th:for</code>.</p>
<p>We only have <code>th:field</code>.  This will expand to cover id and name attributes, and set the value to the value of the passed-in field.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Change the radio button elements" duration="0">
        <p>Radio buttons are slightly more tricky because of the way they need to be linked (so that only one is checked at a time).</p>
<pre><code>&lt;input th:field=&#34;*{type}&#34; th:value=&#34;formal&#34; type=&#34;radio&#34;&gt;
&lt;label th:for=&#34;${#ids.prev(&#39;type&#39;)}&#34;&gt;Formal greeting?&lt;/label&gt;


&lt;input th:field=&#34;*{type}&#34; th:value=&#34;informal&#34; type=&#34;radio&#34;/&gt;
&lt;label th:for=&#34;${#ids.prev(&#39;type&#39;)}&#34;&gt;Informal greeting?&lt;/label&gt;
</code></pre>
<p>The <code>th:field</code> attribute links to the <code>type</code> field in the form object and it will generate different ids for the two fields.  In the <code>label</code> field we need to use the <code>#ids.prev</code> expression to get the generated id for the previous field.</p>
<p>If we want to set one of these to checked by default, we need the form object to be set to the value that matches that in the <code>th:value</code> attribute.</p>


      </google-codelab-step>
    
      <google-codelab-step label="The submit button" duration="0">
        <p>The submit button doesn&#39;t need to change, but you can research how you might go about changing the button&#39;s label using Thymeleaf.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Add the error handling" duration="0">
        <p>We will come back to the HTML to add the error handling.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Change the controller" duration="0">
        <p>The controller needs to change in two places.</p>
<h2 is-upgraded>Route to the form</h2>
<p>Firstly, we need to handle the route to the form.  We used to do this in the router, but now we need to add an empty object to the model before we route to the form template.</p>
<pre><code>@GetMapping(&#34;greeting-form&#34;)
  public String serveGreetingForm(Model model) {
    GreetingForm greetingForm = new GreetingForm(&#34;&#34;, &#34;formal&#34;);
    model.addAttribute(&#34;greeting&#34;, greetingForm);
    return &#34;greeting-form&#34;;
  }
</code></pre>
<p>In this method, we create a new <code>GreetingForm</code> object with an empty name and the greeting type set to &#34;formal&#34;.  We then add it to the model and direct to the template.</p>
<h2 is-upgraded>Process the form submission</h2>
<p>Now we need to change the method that handles the post.</p>
<pre><code>@PostMapping(&#34;greeting-form&#34;)
public String handleGreetingForm(@Valid @ModelAttribute(&#34;greeting&#34;) GreetingForm aForm, BindingResult bindings, Model model) {

  if (bindings.hasErrors()) {
    System.out.println(&#34;Errors:&#34; + bindings.getFieldErrorCount());
    for (ObjectError oe : bindings.getAllErrors()) {
      System.out.println(oe);
    }
    return &#34;greeting-form&#34;;
  } else {
    return &#34;redirect:greet/&#34; + aForm.getType() + &#34;?name=&#34; + aForm.getName();
  }
}
</code></pre>
<p>The <code>@ModelAttribute</code> tells Spring Boot to expect this parameter to be on the model.  A good explanation can be found <a href="https://www.baeldung.com/spring-mvc-and-the-modelattribute-annotation" target="_blank">here</a></p>
<p>The rest of the code is pretty similar to before.  Notice that we don&#39;t need to explicitly pass the errors to the view.  We simply return (not redirect) to the form template name.  The errors are passed in the response along with the model.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Show the errors in the templates" duration="0">
        <p>Now we return to the template and look at the line which shows the error.</p>
<pre><code>&lt;span th:errors=&#34;*{name}&#34; th:if=&#34;${#fields.hasErrors(&#39;name&#39;)}&#34;&gt;Name error&lt;/span&gt;
</code></pre>
<p>Now we use the <code>th:errors</code> attribute and set it to name of the desired field (here ‘name&#39;).  This will generate the span tag containing an error associated with the named field.</p>
<p>We then use <code>th:if</code> and the <code>#fields.hasErrors</code> function to determine if this field had an error, and if so, include the span element or not.</p>
<p>There are other ways of handling errors.  You can choose to just show all errors in one block rather than the inline example above.</p>


      </google-codelab-step>
    
      <google-codelab-step label="Recompile and tests" duration="0">
        <p>You can now try out the code.  Leave the name field blank to see the error message.</p>
<p>BONUS: Look up examples of how to change the <a href="https://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#field-errors" target="_blank">style of the error</a> as well!</p>


      </google-codelab-step>
    
      <google-codelab-step label="Review" duration="0">
        <p>We have linked the form processing to a backing object and enabled inline error reporting.</p>
<p>When testing this, note how the state of the form persists until you explictly reload the page (e.g. go the to address bar and hit ‘return&#39;).</p>


      </google-codelab-step>
    
  </google-codelab>

  <script src="https://storage.googleapis.com/codelab-elements/native-shim.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/custom-elements.min.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/prettify.js"></script>
  <script src="https://storage.googleapis.com/codelab-elements/codelab-elements.js"></script>

</body>
</html>
